.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 39px;
    width: 99%;
    background-color: #282828;
  }
  
  .footer__right * .MuiSlider-root {
    color: green;
  }
  .footer__left {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
  }
  
  .footer__green {
    color: #1ed15e;
  }
  
  .footer__center {
    flex: 0.4;
    max-width: 300px;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__icon:hover,
  .footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
  }
  
  .footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
    padding: 0 100px;
    max-width: 320px;
  }
  
  .footer__albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
  }
  
  .footer__songInfo > h4 {
    margin-bottom: 5px;
  }
  
  .footer__songInfo > p {
    font-size: 12px;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }